@tailwind base;
@tailwind components;
@tailwind utilities;

.form_submitted input {
  border-color: green;
}

.form_submitted input.error {
  border-color: red !important;
}
.richText {
  outline: none;
}
.dark .sbui-btn-primary {
  text-shadow: 0px 0px 4px rgba(38 111 78 / 50%);
}
